<div class="row">
    <div class="col-xs-8 col-sm-4 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
        <div class="container-fluid" style="margin-bottom:25%">
            <!-- Sidebar content here! -->
            <legend>Flagged Staff</legend>
            <div id="loadingbarSide" class="row">
                <div class="text-center">
                    <h5>Loading..</h5>
                    <i class="fa fa-2x fa-spinner fa-pulse"></i>
                </div>
            </div>
            <div id="flaggedStaffContainer"></div>
        </div>      
    </div>
</div>
