
    <div class="alert alert-danger" role="alert">
        <p>
            Entry Modification Is Prohibited
            at this point in time, please see your project manager
            for further details
            <a href="/Guidelines/" class="alert-link">or visit this link</a>
        </p>
       
    </div>

<script type="text/javascript">
    $.notify('<strong>Invalid Request!</strong>  entry modification is prohibited.', { type: 'danger' });
    $('#modalFooterAdd').empty();
</script>
